* {
    font-family: 'Chakra Petch', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0 8vw;
}

.hero ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.link {
    list-style-type: none;
    margin: 0 0.2vw;
}

.link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
    padding: 0.4vw;
    transition: all 50ms ease-in-out;
}

.link a:hover {
    color: #3882F6;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
} 

.second-wrapper {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    flex-wrap: wrap;
}

.main h1 {
    color: #E5E7EB;
    font-size: 48px;
}

.main p {
    color: #E5E7EB;
    font-size: 18px;
    max-width: 500px;
}

.main-img {
    filter: drop-shadow(10px 10px 12px);
}

.sign-up-top {
    background-color: #3882F6;
    width: 120px;
    height: 40px;
    color: #E5E7EB;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    transition: all 200ms ease-in-out;
}

.sign-up-top:hover {
    background-color: #E5E7EB;
    color: #1F2937;
}

.login {
    color:#E5E7EB;
    background-color: #1F2937;
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    font-weight: 700;
    margin-left: 15px;
    transition: all 200ms ease-in-out;
}

.login:hover {
    background-color: #E5E7EB;
    color:#1F2937;
}

.white-section-header {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.first-img {
    filter: drop-shadow(8px 8px 10px);
    border-radius: 12px;
    margin-bottom: 10px;
}

.second-img {
    filter: drop-shadow(8px 8px 10px);
    border-radius: 12px;
    margin-bottom: 10px;
}

.third-img {
    filter: drop-shadow(8px 8px 10px);
    border-radius: 12px;
    margin-bottom: 10px;
}

.fourth-img {
    filter: drop-shadow(8px 8px 10px);
    border-radius: 12px;
    margin-bottom: 10px;
}

.img-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-boxes ul {
    list-style-type: none;
}

figcaption {
    max-width: 200px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.quote h4{
    font-style: normal;
}

.bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#E5E7EB;
    background-color: #3882F6;
    margin: 100px 200px;
    border-radius: 12px;
    filter: drop-shadow(8px 8px 8px black);
}

.cta h3 {
    font-size: 36px;
    margin-top: 25px;
}

.cta p {
    font-size: 18px;
    margin-bottom: 25px;
}

.sign-up-bottom {
    color:#E5E7EB;
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    font-weight: 700;
    margin-left: 100px;
    transition: all 200ms ease-in-out;
} 

.sign-up-bottom:hover {
    background-color: #E5E7EB;
    color: #3882F6;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 1vh 0;
}

.left {
    display: flex;
    justify-content: flex-start;
    padding-left: 8vw;
}

.right {
    padding-right: 8vw;
}